header{
    background-color: black;
    background-position: top;
    height: 60px;
    align-items: center;
    color: white;
    font-family: sans-serif;
}
body{
   background-image: url("background.jpg");
   background-repeat: no-repeat;
   background-size: contain;
   height: 90px;
   background-position: center top;
   background-color: black;
   font-family: sans-serif;
   color: white;
   font-size: 15px;
   text-align: center;
   padding-top: 40px;
   padding: 0;
   margin: 0;
   }
  .container{
    width: 80%;
   }
  ul{
      float: left;
      align-items: center;
      list-style: none;
      margin-top: 30px;
      margin-right: 150px;
      justify-content: space-between;
    }
 
div{
    display: inline; 
    word-spacing: 30px;
}
li{
      display: inline;   
    }
  a{
      text-decoration: none;
      color: white;
      text-align: center;
      margin-left: 40px;
      display: inline-block;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
     
    }
 
  h1{
      float:left;
      font-size: 40px;
      color:white;
      margin-top: 5px;
      align-items: bottom;
      margin: 0;
      padding: 0;
  }
  
  h2{
      align-content: center;
      color: white;
      font-size: 35px;
      font-family: monospace;
      margin-top: 150px;
      margin: 0;
      padding: 0;
  }
  p{
      align-content: left;
      color: white;
      font-size: 15px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 50px;
      font-family: monospace;
  }
  .form_area{
      color: white;
      align-items: center;
      word-spacing: 180px;
      margin-left: 40px;
      margin: 0;
      padding: 0;
  }
  footer{
      background-color: black;
      background-position: bottom;
      border-bottom: gray 1px solid;
      height: 60px;
      font-size: 25px;
  }
  table{
      font-size: 15px;
      width: 100%;
}
table th{
    height: 70px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.hover ol{
    display: inline-block;
}
ol.a{
    padding: 5px;
    display: inline-block;
    list-style-type: square;
    list-style: square inside url("swhite.gif");
  }
  ol.a li{
    padding: 5px;
    margin-left: 35px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
ol.b{
    padding: 5px;
    display: inline-block;
    list-style-type: square;
    list-style: square inside url("swhite.gif");
}
ol.b li{
    padding: 5px;
    margin-left: 35px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 20%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      #list ul{
          display:block;
          align-items: center;
        }
  ul.a{
      list-style-type: circle;
      list-style-position: outside
  }
  ul.a li{
      font-size: 25px;
      font-family: serif;
      color: white;
      margin-left: 380px;
      word-spacing: 15px;
  }
  ul.a li:before{
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: white;
      margin-right: 5px;
  }
  h4{
      align-content: center;
      font-size: 20px;
      color:white;
  }
  .album{
    align-content: center;
  }
  .album img{
    width: 300px;
    height: 200px;
  }
  .end{
      color: black;
    background-color: lightgrey;
    background-position: bottom;
    height: 280px;
 }
 input[type=text], input[type=email] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
  }
  .container {
    padding: 16px;
  }
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .number{
      float: left;
  }
  h5{
    margin-top: 0px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: serif;
  }
  button {
    background-color: rgb(148, 234, 245);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 50%; 
  height: 90%; 
  overflow: auto; 
  background-color: darkblue;
  background-image: linear-gradient(to bottom right, darkblue, lightblue);
  padding-top: 50px;
  margin-left: 390px;
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto 20% auto; 
  border: 1px solid rgb(0, 0, 0);
  width: 60%; 
}

  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  input[type=text], input[type=email] {
    width: 20%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=number], input[type=number] {
    width: 20%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text], input[type=password] {
    width: 20%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text], input[type=address] {
    width: 20%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text], input[type=city] {
    width: 20%;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  label {
    margin-bottom: 10px;
    display: block;
  }
  .btn {
    background-color: #80dbba;
    color: rgb(0, 0, 0);
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 20%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
  }
  .btn:hover {
    background-color: #80dbba;
  }
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
  }
  .cancelbtn {
    font-size: 12px;
    padding: 14px 20px;
    background-color: #c5c4c4;
  }
  .cancelbtn, .purchasenowbtn {
    float: center;
    width: 20%;
  }
  @media screen and (max-width: 250x) {
    .cancelbtn, .purchasenowbtn {
       width: 40;
    }
  }
  .close {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  